<!-- Navbar -->
<header class="navbar">
  <a class="logo" routerLink="/">
    <img src="/assets/logo.png" alt="Logo av Akademiskolan">
    <strong>Akademiskolan</strong>
  </a>
  <!-- Hamburgermenu-button -->
  <button class="menu-toggle" aria-label="Öppna meny" (click)="menuOpen = !menuOpen">
    <i class="bi bi-list"></i>
  </button>

  <nav [class.open]="menuOpen">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="menuOpen = false">Hem</a>
    <a routerLink="/kurser" routerLinkActive="active-link" (click)="menuOpen = false">Kurser</a>
    <a routerLink="/ramschema" routerLinkActive="active-link" (click)="menuOpen = false">Ramschema</a>

    <!-- Team-toggle button -->
    <button (click)="toggleTheme()" class="theme-toggle" aria-label="Växla tema">
      <i class="bi" [ngClass]="isDarkMode ? 'bi-moon-fill' : 'bi-sun-fill'"></i>
    </button>
  </nav>
</header>
<!-- Here is the page that is loaded via routing-->
<main>
  <router-outlet />
</main>

<footer>
  <div class="footer-columns">
    <div>
      <h3>Genväg</h3>
      <a routerLink="/kurser">Se kurslistan</a><br />
      <a routerLink="/ramschema">Dina ramschema</a>
    </div>
    <div>
      <h3>Sociala medier</h3>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-linkedin"></i>
    </div>
    <div>
      <h3>Nyhetsbrev</h3>
      <label>
        Din email:
        <br><input type="email" placeholder="namn@mail.se">
      </label>
      <br>
      <button>Prenumerera</button>
    </div>
  </div>
</footer>