@use './themes.scss' as varibales;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: varibales.$font-base;
}

.hidden-element {
  position: absolute;
  left: -9999px;
}

.theme-toggle {
    background-color:varibales.$color-primary;
    border: none;
    border-radius: 8px;
    padding: 0.4rem 0.6rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 1rem;
  
    &:hover {
      background-color: varibales.$color-hover;
    }
  
    &.dark {
      background-color: varibales.$color-neutral-dark;
      color: varibales.$color-white;
      border-color: varibales.$color-border;
  
      &:hover {
        background-color: varibales.$color-dark-bg;
      }
    }
  }
  
  /* Dark mode */
  .dark-theme {
    background-color: varibales.$color-black;
    color: varibales.$color-neutral-light;
  
    footer {
      background-color: varibales.$color-black;
  
      &::before {
        background: none;
      }
  
      &::after {
        background: rgba(0, 0, 0, 0.4);
      }
    }

    app-home-page h1,
    app-home-page h3,
    app-home-page em,
    app-home-page .logo strong {
      color: varibales.$color-black !important;
    }

    app-home-page .contact-item h3 {
        color: varibales.$color-white !important;
      }
  
    app-course-page h1,
    app-course-page h2,
    app-course-page p {
      color: varibales.$color-black  !important;
    }
  
    app-schema-page h2 {
      color: varibales.$color-black  !important;
    }
  }

/* Responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: varibales.$font-size-large !important;
  }
}
